*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #161621;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.home {
  width: 100%;
  height: 100vh;
}
.top {
  color: #e6ebed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topTitle {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input[type="text"] {
  padding: 6px;
  border: none;
  border-radius: 15px;
  font-size: 17px;
  background-color: #1f1f2f;
  color: #e6ebed;
}

.form input[type="text"]:focus {
  outline: none;
}

.form button[type="submit"] {
  border: none;
  background-color: transparent;
}
.form button[type="submit"] img {
  width: 20px;
  height: 20px;
}
.main {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}
.card {
  height: 379px;
  width: 300px;
  background: #23233c;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
}
.border {
  height: 369px;
  width: 290px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
